// Colors
$dark-green: #092326;
$light-assents-accent-1-primary: #08d899;
$light-assents-accent-2-primary: #08d899;
$light-assents-state-hover: #b2f1de;
$light-assents-accent-1-quaternary: #b2f1de;
$light-greyscale-icons: #abb6b7;
$light-greyscale-stroke: #cdd2dd;
$light-greyscale-white: #ffffff;
$light-greyscale-bg-light: #f0f5f5;
$light-greyscale-text-primary: #092326;
$light-greyscale-text-secondary: #676767;
$light-greyscale-text-tertiary: #959596;
$light-greyscale-disabled-bg: #e7ebf1;
$light-greyscale-disabled-text: #949697;
$light-greyscale-dividers: #e8e8f3;
// Border-radius
$card-bd-radius-lg: 16px;
// Desktop-width
$desktop-width: 1440px;
$width-sm: 375px;

// Opacity on hover
$opacity-6: 0.6;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Media params
$mouse-device: "(hover: hover) and (pointer: fine)";
