@import "../../styles/variables";
@import "../../styles/mixins";

.main {
  min-height: 100vh;

  @media (max-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.bgOverlay {
  background-image: url("../../assets/icons/ellipse_bg.webp");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
